.top-container{
  background-color: pink;
  position:relative;
}

.middle-container{
  margin:10px 0;
}

.bottom-container{
  background-color: pink;
  margin-top:20px;
}

.smallTitle{
  font-size: 1.5em;
}

.tron{
  font-style: oblique;
}

.intro{
  width:30%;
  margin:auto;
}

body{
  margin:0;
  text-align:center;
  font-size:1em;
}

.header img{
  width: 110px;
  float: left;
}

.header h1{
  color:white;
  font-weight: bold;
  margin:0 auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625em;
  margin-top: 50px auto 0 auto;

}

h2{
  font-weight:normal;
  color:pink;
  font-family: 'Montserrat', sans-serif;
  font-size:2.5rem;
  padding-bottom: 10px;
}

h3{
  color:pink;
  font-family: 'Montserrat', sans-serif;
}

p{
  font-family: 'Merriweather', serif;
    line-height: 2;
}

.btn {
  background: #ffc2e6;
  background-image: -webkit-linear-gradient(top, #ffc2e6, #ffb0b0);
  background-image: -moz-linear-gradient(top, #ffc2e6, #ffb0b0);
  background-image: -ms-linear-gradient(top, #ffc2e6, #ffb0b0);
  background-image: -o-linear-gradient(top, #ffc2e6, #ffb0b0);
  background-image: linear-gradient(to bottom, #ffc2e6, #ffb0b0);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #ffc7c7;
  background-image: -webkit-linear-gradient(top, #ffc7c7, #e3a8a8);
  background-image: -moz-linear-gradient(top, #ffc7c7, #e3a8a8);
  background-image: -ms-linear-gradient(top, #ffc7c7, #e3a8a8);
  background-image: -o-linear-gradient(top, #ffc7c7, #e3a8a8);
  background-image: linear-gradient(to bottom, #ffc7c7, #e3a8a8);
  text-decoration: none;
}

.contact-message{
  width:40%;
  margin: 40px auto 60px;
}


a{
  color: red;
  font-family: fantasy;
  margin:10px 20px;
  text-decoration: none;
}

a:hover{
  color:white;
}

.copyright{
  color: white;
}

hr{
  border:dotted #eaf6f6 6px;
  border-bottom: none;
  width: 4%;
  margin: 20px auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: none;
}

li {
  float: left;
}

li a {
  display: block;
  color: pink;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: pink;
}
