h3{
  color:pink;
  font-family: 'Montserrat', sans-serif;
}

p{
  font-family: 'Merriweather', serif;
    line-height: 2;
}

body{
  margin:0;
  text-align:center;
  font-size:1em;
}

hr{
  border:dotted #eaf6f6 6px;
  border-bottom: none;
  width: 4%;
  margin: 20px auto;
}

.Nagition ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: none;
}

.Nagition li {
  float: left;
}

.Nagition li a {
  display: block;
  color: pink;
  text-align: center;
  padding: 14px 16px;
  font-family: fantasy;
  margin:10px 20px;
  text-decoration: none;
}

.Nagition li a:hover {
  background-color: pink;
  color: white;
}
